.header-container {
  display: flex;
  align-items: center;
}

.home-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 1rem;
}

.nav-item {
  text-decoration: none;
  color: var(--white-color);
  padding: 0 1rem;
}

.is-active {
  font-size: 1.2rem;
  font-weight: bolder;
}
