<div class="card app-bg-primary text-white">
  <div class="row">
    <app-summary-details
      [text]="'2 רגיל'"
      [price]="'272.00 ₪'"
      [dynamicClasses]="'col-12 d-md-none'"
    />
    <app-summary-details
      [text]="'1 סטודנט'"
      [price]="'76.00 ₪'"
      [dynamicClasses]="'col-12 d-md-none mb-3'"
    />
    <hr class="d-md-none">
    <div class="col-12 col-md-6 mb-3 d-md-none">
      <div class="d-flex justify-content-between">
        <span>סה"כ: 3 נוסעים</span>
        <span class="text-lg">348.00 ₪</span>
      </div>
    </div>
    <div class="d-none d-md-flex row">
      <div class="col-md-6">
        <div class="row">
          <app-summary-details
            [text]="'2 רגיל'"
            [price]="'272.00 ₪'"
            [dynamicClasses]="'col-12'"
          />
          <app-summary-details
            [text]="'1 סטודנט'"
            [price]="'76.00 ₪'"
            [dynamicClasses]="'col-12 mb-3'"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-12">
            <span class="primary-text">-</span>
          </div>
          <div class="col-12">
            <span>סה"כ: 3 נוסעים</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-12">
            <span class="primary-text">-</span>
          </div>
          <div class="col-12 amount-container">
            <span>סה"כ לתשלום: </span><span class="text-lg">348.00 ₪</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
