<div class="p-3 text-center">
  <div *ngIf="exchangeRate$ | async as exchangeRate">
    <h2>Currency Exchange Rate</h2>
    <p><strong>From Currency:</strong> {{ exchangeRate["Realtime Currency Exchange Rate"]['1. From_Currency Code'] }}
      - {{ exchangeRate['Realtime Currency Exchange Rate']['2. From_Currency Name'] }}</p>
    <p><strong>To Currency:</strong> {{ exchangeRate['Realtime Currency Exchange Rate']['3. To_Currency Code'] }}
      - {{ exchangeRate['Realtime Currency Exchange Rate']['4. To_Currency Name'] }}</p>
    <ng-container *ngIf="isExchangeRateChanged$ | async as isExchangeRateChanged">
      <p [style.color]="isExchangeRateChanged.changeStyle">
        <strong>Exchange Rate:</strong> {{ exchangeRate['Realtime Currency Exchange Rate']['5. Exchange Rate'] }}
      </p>
    </ng-container>
    <p>
      <strong>Last
        Refreshed:</strong> {{ exchangeRate['Realtime Currency Exchange Rate']['6. Last Refreshed'] | date : "dd/MM/yyyy" }}
    </p>
    <p><strong>Time Zone:</strong> {{ exchangeRate['Realtime Currency Exchange Rate']['7. Time Zone'] }}</p>
    <p><strong>Bid Price:</strong> {{ exchangeRate['Realtime Currency Exchange Rate']['8. Bid Price'] }}</p>
    <p><strong>Ask Price:</strong> {{ exchangeRate['Realtime Currency Exchange Rate']['9. Ask Price'] }}</p>
  </div>
  <div *ngIf="(exchangeRate$ | async) === null" class="error-message">
    Could not fetch exchange rate. Please try again later.
  </div>
</div>
